@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p> My name: @ViewData["MyName"] </p>

<address>
	<strong> someone on here: </strong> <a href="https://www.google.com/webhp?hl=pt-BR&sa=X&ved=0ahUKEwjcmsKy-cbkAhWxGbkGHQS_CvcQPAgI"> Site </a>
</address>
